<%= render partial: 'form', locals: { modal_id: 'createProduct' } %>
<div class="container-sm my-5">
  <div class="row">
      <% if !@products.blank? %>
      <div class="col-12 mb-3 d-flex align-items-center">
        <h4 class="my-2 me-2 d-inline-block">Productos</h4>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createProduct">Crear producto</button>
      </div>
      <div class="col-12">
        <div class="table-responsive mx-auto my-2">
          <table class="table  table-striped" id="tableListProducts">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @products.each_with_index do |product, index|%>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= product.name %></td>
                <td>S/ <%= product.price %></td>
                <td><%= product.status %></td>
                <td><span class="badge bg-primary" style="cursor: pointer">Ver</span></td>
                <td><span class="badge bg-warning product-edit-button" id="editButton-<%= product.id %>" style="cursor: pointer">Editar</span></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% else %>
      <div class="col-12 justify-content-center">
        <button class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#createProduct">Crear producto</button>
      </div>
      <% end %>
    </div>
  </div>

<%= javascript_pack_tag 'list_products', 'data-turbolinks-track': 'reload' %>